@model IEnumerable<ManejoDeEmpleados.Models.Vacacione>

@{
    ViewData["Title"] = "List";
}

<h1>Listado de vacaciones</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InicioVacaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaVacaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InicioVacaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaVacaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleado.Apellido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
