@using ManejoDeEmpleados.Models
@model LoginViewModel
@{
    Layout = null;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>BrainlyTech</title>
</head>
<body>

    <main>
        <div class="container">
            <div class="back_box">


                <div class="back_login">
                    <h3>¿Ya tienes una cuenta?</h3>
                    <p>Incicia sesión para entrar</p>
                    <button id="btn_login">Iniciar Sesión</button>
                </div>
                <div class="back_register">
                    <h3>¿Aún no tienes una cuenta?</h3>
                    <p>Regístrate para iniciar sesión</p>
                    <button id="btn_register ">Registrarme</button>
                </div>

            </div>

            <div class="front_login_register ">
                <form action=" " class="form_login ">
                    <h2>Iniciar Sesión</h2>
                    <input id="email_login" type="email" placeholder="Email">
                    <input id="password_login" type="password " placeholder="Password ">
                    <button onclick="ValidateLogin()" type="button">Entrar</button>
                    <div class="warnings">
                        <p id="email_wrong" style="display: none;">El email no es válido.</p>
                        <p id="password_wrong" style="display: none;">La contraseña debe ser mayor a 8 dígitos.</p>
                    </div>

                </form>

                <form class="form_register ">
                    <h2>Regístrate</h2>
                    <input id="name" type="text" placeholder="Name" required>
                    <input id="email" type="email" placeholder="Email" required>
                    <input id="user" type="text" placeholder="Name User" required>
                    <input id="password" type="password" placeholder="Password" required>
                    <button onclick="ValidateRegister()" type="button">Registrarse</button>
                    <div class="warnings">
                        <p id="name_wrong" style="display: none;">El nombre no es válido.</p>
                        <p id="email_wrongr" style="display: none;">El email no es válido.</p>
                        <p id="password_wrongr" style="display: none;">La contraseña debe ser mayor a 8 dígitos.</p>
                    </div>
                </form>

            </div>
        </div>
    </main>








    @*<div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>
                         Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>*@

    <script src="~/Content/login.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>