@model IEnumerable<ManejoDeEmpleados.Controllers.CalcularNomina>

@{
     ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cooperativa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cafeteria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Afp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seguro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SueldoNeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cooperativa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cafeteria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Afp)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Seguro)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.ISR)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.SueldoNeto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
