@model ManejoDeEmpleados.Models.ConsumoEmpleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConsumoEmpleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cooperativa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cooperativa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cafeteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cafeteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
